.custom-background {
  --background: #FFDE59;
  background-color: #FFDE59;
}

.back-button {
  color: #000;
  margin-top: 30px;
  padding-left: 0;
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #000;

}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-left: 20px;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #000;
}

.custom-background {
  --background: #FFDE59;
  background-color: #FFDE59;
}

.checkbox-item {
  font-size: 14px;
  --background: #FFDE59 !important; // Samakan background dengan halaman
  background-color: #FFDE59;
}

ion-checkbox::part(container) {
  background: #FFDE59 !important; // latar belakang saat dicentang
  border: 2px solid #000000 !important;
}

ion-checkbox::part(mark) {
  color: #000000 !important; // warna centang
}

.checkbox-label {
  color: #000;
}

.sign-in-text {
  font-size: 14px;
  margin-top: 15px;
  text-align: center;
  color: #000;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.name-phone {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.phone-input {
  border-radius: 15px;
  padding: 18px;
  color: #000000;
  --background: #ffffff !important; // Samakan background dengan halaman
  background-color: #ffffff;
}

.id{
  border: 1px solid black;
}

.login {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  --background: #197C34;
  color: #fddf5c;
  border-radius: 30px;
  width: 100% !important;
  height: auto !important;
  min-height: 48px;
  margin-top: 400px;
  text-transform: none;
}

.custom-icon {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50%;
}