<ion-content class="ion-padding custom-background">
  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingText="Tarik untuk refresh"
      refreshingText="Merefresh..."
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/Logo.png" alt="Logo" class="logo-image" />
  </div>

  <!-- Judul -->
  <h1 class="title">Let’s Get Started!!</h1>
  <p class="subtitle">Yokk ahh Login dulu</p>

  <!-- Tombol Sosial -->
  <ion-button expand="block" fill="solid" shape="round" class="social-button google" (click)="goToDasboard()">
    <img src="assets/Google.png" class="custom-icon" alt="Google" slot="start" />
    Continue with Google
  </ion-button>

  <!-- Tombol Daftar -->
  <ion-button expand="block" fill="solid" shape="round" class="outline-button" (click)="goToRegister()">
    Daftar Nih
  </ion-button>

  <!-- Tombol Login -->
  <ion-button expand="block" fill="solid" shape="round" class="login-button" (click)="goToLogin()">
    Login
  </ion-button>