.custom-background {
  --background: #fff5cc; // sesuai color activity
}

h2 {
  color: #ffcc5b;
  margin-bottom: 20px;
}

ion-item {
  border-radius: 12px;
  margin-bottom: 10px;
  padding: 10px;
}

ion-button {
  margin-top: 20px;
}
