.custom-background {
  --background: #fddf5c;
  background-color: #fddf5c;
}

.back-button {
  color: #000;
  margin-top: 30px;
  padding-left: 0;
}

.title {
  margin-left: 20px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 1px;
  color: #000;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-left: 20px;
  font-size: 15px;
  margin-bottom: 35px;
  line-height: 1.5;
  color: #000;
}

.custom-background {
  --background: #fddf5c;
  background-color: #fddf5c;
}

.checkbox-item {
  --background: #fddf5c !important; // Samakan background dengan halaman
  background-color: #fddf5c;
}

ion-checkbox::part(container) {
  background: #fddf5c !important; // latar belakang saat dicentang
  border: 2px solid #000000 !important;
}

ion-checkbox::part(mark) {
  color: #000000 !important; // warna centang
}

.checkbox-label {
  color: #000;
}

.sign-in-text {
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 17px;
  text-align: center;
  color: #000;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.line {
  height: 2px;
  flex: 1;
  background-color: #000;
  margin-top: 1px;
  margin: 17px;
}

.or {
  color: #000;
}

.name-phone {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.phone-input {
  border-radius: 15px;
  padding: 13px;
  color: #000000;
  --background: #ffffff !important; // Samakan background dengan halaman
  background-color: #ffffff;
}

.id {
  border: 1px solid black;
}

.social-button {
  border-radius: 30px;
  margin-bottom: 23px;
  width: 100% !important;
  height: auto !important;
  min-height: 48px;
  color: #000;
  --background: #ffffff;
  --border-color: #000;
  border: 3px solid black;
  text-transform: none;
  font-weight: 500;
}

.google {
  margin-top: 20px;
  font-weight: bold;
  --color: #000;
}

.Facebook {
  font-weight: bold;
  --color: #000;
}

.WhatsApp {
  font-weight: bold;
  --color: #000;
}

.login {
  --background: #197C34;
  color: #fddf5c;
  border-radius: 30px;
  margin-bottom: 23px;
  width: 100% !important;
  height: auto !important;
  min-height: 48px;
  text-transform: none;
  font-weight: 500;
  font-weight: bold;
  font-size: 16px;
}

.custom-icon {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50%;
}